.choiceLetter{
    font-family: cursive;
    font-size: 25px;
    color: #0E0F0F;
    letter-spacing: 0;
    font-weight: bolder;
}

.choiceLetterWrapper
{
    display: inline-block;
    background-color: #f2f2f2;
    margin-bottom: 2.2vh;
    text-align: center;
    border-radius: 20%;
    cursor: pointer;
    margin-left: 0.9vw;
    width: 40px;
    height: 40px;
    box-shadow: 3px 5px 5px #000000 ;
}

.selected{
    opacity: 0.5;
    cursor:auto;
}
