<div class="board">
    <div class="board__cards">
        <app-memory-card *ngFor="let card of gameService.cards" [card]="card"></app-memory-card>
    </div>

    <div class="board__info">
        <p>Movimientos:&nbsp;{{gameService.rounds}}</p>
        <app-memory-button-exit (click)="gameService.playAgains()" type="button">
            Salir
        </app-memory-button-exit>
    </div>

    <app-memory-modal [visible]="gameService.isGameOver">
        <div class="modal-content">
            <h2 class="modal-content__title">¡¡Lo Lograste!!</h2>
            <p class="modal-content__round">Cantidad de Movimientos:&nbsp;{{ gameService.rounds }}</p>
            <app-memory-button (click)="gameService.playAgain()" type="button">
                Siguiente
            </app-memory-button>
        </div>
    </app-memory-modal>
</div>
