<div class="container">
    <div class="row">
        <div class="col-12">
            <button class="btn-lg" routerLink="/list-games"> <!--me llevara al componente list-games-->
                Lista de Juegos
            </button>
        </div>
        <div class="col-12">
            <button class="btn-lg" routerLink="">
                hola  
            </button>
        </div>
        <div class="col-12">
            <button class="btn-lg" routerLink="">

            </button>
        </div>
        <div class="col-12">
            <button class="btn-lg" routerLink="">

            </button>
        </div>
        <div class="col-12">
            <button class="btn-lg" routerLink="">

            </button>
        </div>
    </div>
</div>