<div class="container">
    <div class="row">
        <div class="col-12">
            <button class="btn-memory" routerLink="/memory-playing"> <!--componente memory-playing--->
                Memoria
            </button>
        </div>
        <div class="col-12">
            <button class="btn-memory" routerLink="/hang-playing"> <!--componente hang-playing--->
                Adivina la Palabra
            </button>
        </div>
        <div class="col-12">
            <button class="btn-memory" routerLink="/quizz-playing">  <!--componente quizz-playing--->
                Trivia
            </button>
        </div>
        <div class="col-12">
            <button class="btn-memory" routerLink="/tictactoe-board">
                Tres en Linea
            </button>
        </div>
        <div class="col-12">
            <button class="btn-memory" routerLink="">

            </button>
        </div>
    </div>
</div>