.btn {
    background: #4d8c22;
    border: 2px solid #fff;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: background 0.5s;
    font-family: cursive;

    &:hover {
        background: darken(#4d8c22, 15%);
    }

    &:active {
        background: darken(#4d8c22, 20%);
    }
}